################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Notification_API/DesignTimeBuild
/.vs/Notification_API/v16
